{% extends '@BinserInstrument/Pages/Shop/base.html.twig' %}

{% block shop_content %}
    <div class="container" id="shop_categories">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text one_line">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'manikyur'}) }}">
                        ДЛЯ маникюра
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'manikyur'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/1.png') }}" alt="Для маникюра">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text one_line">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'parikmakher'}) }}">
                        ДЛЯ ПАРИКМАХЕРА
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'parikmakher'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/2.png') }}" alt="ДЛЯ ПАРИКМАХЕРА">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text one_line">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'barber'}) }}">
                        ДЛЯ БАРБЕРА
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'barber'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/3.png') }}" alt="ДЛЯ БАРБЕРА">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text one_line">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'povar'}) }}">
                        ДЛЯ ПОВАРА
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'povar'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/4.png') }}" alt="ДЛЯ ПОВАРА">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text one_line">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'vrach'}) }}">
                        ДЛЯ Врача
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'vrach'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/5.png') }}" alt="ДЛЯ Врача">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text one_line">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'portnoy'}) }}">
                        ДЛЯ портного
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'portnoy'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/6.png') }}" alt="ДЛЯ портного">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'parikmakher-zhivotnykh'}) }}">
                        ДЛЯ Парикмахера<br>
                        животных
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'parikmakher-zhivotnykh'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/7.png') }}" alt="ДЛЯ Парикмахера животных">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'florist'}) }}">
                        ДЛЯ флориста
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'florist'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/8.png') }}" alt="ДЛЯ Парикмахера животных">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text one_line">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'oborudovanie'}) }}">
                        ОБОРУДОВАНИЕ
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'oborudovanie'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/9.png') }}" alt="ОБОРУДОВАНИЕ">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="category_text one_line">
                    <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'raskhodnye-materialy'}) }}">
                        Расходные материалы
                    </a>
                </div>
                <a href="{{ path('binser_instrument_shop_category', {'categoryUrl': 'raskhodnye-materialy'}) }}">
                    <div class="category_block">
                        <div class="round_block">
                            <img src="{{ asset('bundles/binserinstrument/images/shop_categories/10.png') }}" alt="Расходные материалы">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
