<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Заточка инструмента в Москве. Центр заточки OSTRO{% endblock %}</title>
        <meta name="description" content="{% block description %}Профессиональная заточка ручного режущего инструмента по низким ценам от мастерской OSTRO.{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        {% block stylesheets %}
            <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/binserinstrument/css/social_sprite.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/binserinstrument/css/main.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div id="wrap">
                {% block header %}
                    {% include '::header.html.twig' %}
                {% endblock %}
                {% block main_menu %}
                    <div class="navbar navbar-default">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_menu">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div class="collapse navbar-collapse" id="main_menu">
                                        {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'BinserInstrumentBundle:Menu:knp_menu.html.twig'}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
            {% block footer %}
                {% include '::footer.html.twig' %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('lib/jquery-1.11.3mim.js') }}"></script>
            <script type="text/javascript" src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('ul.nav > li').hover(function () {
                        $(this).find('.dropdown-menu').show();
                    }, function () {
                        $(this).find('.dropdown-menu').hide();
                    });
                });
            </script>

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter43212129 = new Ya.Metrika({
                                id:43212129,
                                clickmap:true,
                                trackLinks:true,
                                accurateTrackBounce:true,
                                webvisor:true,
                                trackHash:true,
                                ecommerce:"dataLayer"
                            });
                        } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/43212129" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
        {% endblock %}
    </body>
</html>
