{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/slick-carousel/slick/slick.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/slick-carousel/slick/slick-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" id="offer_block">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <img src="{{ asset('bundles/binserinstrument/images/offers_block/header1.png') }}" class="header_img" alt="Корпоративным клиентам">
                <img src="{{ asset('bundles/binserinstrument/images/offers_block/image1.png') }}" class="content_img" alt="Корпоративным клиентам">
                <p class="offer_block_text">оптимизируйте расходы на заточку вашего инструмента</p>
                <a href="#" class="offer_block_link">подробнее</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="{{ asset('bundles/binserinstrument/images/offers_block/header2.png') }}" class="header_img" alt="Ближайшая студия заточки">
                <img src="{{ asset('bundles/binserinstrument/images/offers_block/image2.png') }}" class="content_img" alt="Ближайшая студия заточки">
                <p class="offer_block_text">оптимизируйте расходы на заточку вашего инструмента</p>
                <a href="#" class="offer_block_link">подробнее</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="{{ asset('bundles/binserinstrument/images/offers_block/header3.png') }}" class="header_img" alt="Вызов курьера">
                <img src="{{ asset('bundles/binserinstrument/images/offers_block/image3.png') }}" class="content_img" alt="Вызов курьера">
                <p class="offer_block_text">сами заберем и вернем уже заточенный</p>
                <a href="#" class="offer_block_link">подробнее</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="{{ asset('bundles/binserinstrument/images/offers_block/header4.png') }}" class="header_img" alt="Франшиза 'ОСТРО24'">
                <img src="{{ asset('bundles/binserinstrument/images/offers_block/image4.png') }}" class="content_img" alt="Франшиза 'ОСТРО24'">
                <p class="offer_block_text">станьте нашим представителем в своем городе</p>
                <a href="#" class="offer_block_link">подробнее</a>
            </div>
        </div>
    </div>
    <div class="container" id="for_and_shop_block">
        <div class="row">
            <div class="col-md-8" id="for_block">
                <div class="header_block">
                    Кому полезны наши услуги
                </div>
                <div id="for_large_block">
                    <div class="row">
                        <div class="grey_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/grey1.png') }}" alt="Мастера маникюра и ногтевого сервиса">
                        </div>
                        <div class="grey_text">
                            Мастера маникюра<br>
                            и ногтевого сервиса
                        </div>
                        <div class="yellow_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/yellow1.png') }}" alt="Парикмахеры и барберы">
                        </div>
                        <div class="yellow_text">
                            Парикмахеры<br>
                            и барберы
                        </div>
                    </div>
                    <div class="row">
                        <div class="grey_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/grey2.png') }}" alt="Флористы и Цветочные магазины">
                        </div>
                        <div class="grey_text">
                            Флористы и<br>
                            Цветочные магазины
                        </div>
                        <div class="yellow_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/yellow2.png') }}" alt="Зубные врачи">
                        </div>
                        <div class="yellow_text one_line">
                            Зубные врачи
                        </div>
                    </div>
                    <div class="row">
                        <div class="grey_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/grey3.png') }}" alt="Парикмахеры животных">
                        </div>
                        <div class="grey_text">
                            Парикмахеры<br>
                            животных
                        </div>
                        <div class="yellow_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/yellow3.png') }}" alt="Портные">
                        </div>
                        <div class="yellow_text one_line">
                            Портные
                        </div>
                    </div>
                    <div class="row">
                        <div class="grey_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/grey4.png') }}" alt="Повара и домохозяйки">
                        </div>
                        <div class="grey_text">
                            Повара и<br>
                            домохозяйки
                        </div>
                        <div class="yellow_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/yellow4.png') }}" alt="Мед работники">
                        </div>
                        <div class="yellow_text one_line">
                            Мед работники
                        </div>
                    </div>
                </div>

                <div id="for_small_block">
                    <div class="row">
                        <div class="grey_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/grey1.png') }}" alt="Мастера маникюра и ногтевого сервиса">
                        </div>
                        <div class="grey_text">
                            Мастера маникюра<br>
                            и ногтевого сервиса
                        </div>
                    </div>
                    <div class="row">
                        <div class="yellow_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/yellow1.png') }}" alt="Парикмахеры и барберы">
                        </div>
                        <div class="yellow_text">
                            Парикмахеры<br>
                            и барберы
                        </div>
                    </div>
                    <div class="row">
                        <div class="grey_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/grey2.png') }}" alt="Флористы и Цветочные магазины">
                        </div>
                        <div class="grey_text">
                            Флористы и<br>
                            Цветочные магазины
                        </div>
                    </div>
                    <div class="row">
                    <div class="yellow_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/yellow2.png') }}" alt="Зубные врачи">
                        </div>
                        <div class="yellow_text one_line">
                            Зубные врачи
                        </div>
                    </div>
                    <div class="row">
                        <div class="grey_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/grey3.png') }}" alt="Парикмахеры животных">
                        </div>
                        <div class="grey_text">
                            Парикмахеры<br>
                            животных
                        </div>
                    </div>
                    <div class="row">
                    <div class="yellow_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/yellow3.png') }}" alt="Портные">
                        </div>
                        <div class="yellow_text one_line">
                            Портные
                        </div>
                    </div>
                    <div class="row">
                        <div class="grey_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/grey4.png') }}" alt="Повара и домохозяйки">
                        </div>
                        <div class="grey_text">
                            Повара и<br>
                            домохозяйки
                        </div>
                    </div>
                    <div class="row">
                    <div class="yellow_img">
                            <img src="{{ asset('bundles/binserinstrument/images/for/yellow4.png') }}" alt="Мед работники">
                        </div>
                        <div class="yellow_text one_line">
                            Мед работники
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="shop_block">
                {% if products %}
                    <div id="firm_shop">
                        <div class="header_block">
                            Фирменный магазин
                        </div>
                        <div class="products">
                            {% for product in products %}
                                <div class="product">
                                    <div class="row info_product">
                                        <div class="col-sm-7">
                                            {{ product.title }}
                                        </div>
                                        <div class="col-sm-5">
                                            {{ product.price }} РУБ
                                        </div>
                                    </div>
                                    {% thumbnail product.mainImage, 'medium' with {'class': 'product_image'} %}
                                    <a href="#" class="product_page_link">подробнее</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container" id="bottom_text">
        <h1 class="shop_bottom_text text-center">Профессиональная заточка инструмента в Москве</h1>
        <p class="shop_bottom_text">
            Хорошо заточенные инструменты – залог эффективной работы. Каждый мастер знает, что от их состояния может
            зависеть не только результат, но и репутация компании. Именно поэтому, чтобы исключить проблемы с рабочими
            приспособлениями, будь они садовые, парикмахерские или маникюрные, нужна качественная заточка инструмента в
            Москве от профессионалов. Эта услуга избавляет от необходимости приобретать новые приборы и возвращает им
            прежнюю функциональность. Наша компания предоставляет лучший сервис обслуживания и оптимальные цены. В нашем
            штате работают исключительно квалифицированные специалисты, что значит ваши инструменты попадают в надежные
            руки.
        </p>
        <p class="shop_bottom_text">
            Важно учитывать, что даже самые новые маникюрные или парикмахерские инструменты могут нуждаться в
            оттачивании. От того, насколько качественно была осуществлена заточка режущего инструмента зависит его
            работоспособность. Щипцы или ножницы для кутикулы – стандартный набор каждого мастера, который требует
            особого подхода в заточке и ручного выполнения. Мы производим все работы в индивидуальном порядке и с учетом
            особенностей каждого приспособления. С нами вы можете быть уверены, что любой маникюрный набор приобретет
            вновь свою функциональность.
        </p>
        <p class="text-right">
            <button type="button" data-toggle="collapse" data-target="#text_block" class="btn btn-link switch">читать далее</button>
        </p>
        <div class="collapse" id="text_block">
            <p class="shop_bottom_text text-center">
                Мастерская по заточке инструмента: преимущества
            </p>
            <p class="shop_bottom_text">
                Для оттачивании инвентаря мы задействуем современное и надежное оборудование. Обращаясь нам вы оцените массу
                достоинств от сотрудничества, а именно обеспечение:
            </p>

            <ul>
                <li>
                    Гарантии качества работ. Доверяя свои инструменты нам – вы избавляетесть от вероятности их повреждения.
                </li>
                <li>
                    Оперативного реагирования. Каждая заточка ручного инструмента не занимает более 1-2 часов.
                </li>
                <li>
                    Надежного очинивания. Наши мастера знают все о персональном подходе к различному инструменту, поэтому
                    уверены в грамотности своих работ.
                </li>
                <li>
                    Профессионализма. После обращения к нам вы будете удовлетворены сервисом услуг. Наш центр заточки
                    инструмента сочетает в себе компетентный штат специалистов с многолетним опытом работы.
                </li>
                <li>
                    Оптимальной стоимости. Предоставляем низкие цены на заточку инструмента для каждого клиента.
                </li>
            </ul>

            <p class="shop_bottom_text">
                Мы ценим ваше и собственное время, поэтому производим все работы максимально качественно и оперативно. Чтобы
                узнать информацию по поводу нашего адреса заточки инструментов в Москве или проконсультироваться у
                специалиста – просто позвоните!
            </p>

            <p class="shop_bottom_text text-center">
                Профессиональная заточка инструмента
            </p>

            <p class="shop_bottom_text">
                Заточка маникюрных приспособлений так же, как и парикмахерских выполняется в соответствии с многоуровневой
                технологией. Это позволяет достигать не только высокого качества обработки инструмента, но и предотвратить
                уменьшение его площади и длины лезвия. Каждый специалист нашей компании успешно прошел обучение и обладает
                должным уровнем знаний и квалификацией. Среди дополнительной услуги нашей мастерской является прохождение
                обучения заточке у ведущих специалистов данной области. Благодаря ней вы сможете узнать, как происходит
                заточка лезвия инструмента и изучить все основы, чтобы стать настоящим профессионалом. Нам можно доверять –
                обращайтесь!
            </p>
        </div>
    </div>

    <div class="container" id="problems_block">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 header_block">
                Какие проблемы мы решаем
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-3 col-sm-offset-15">
                <div class="top_text">
                    Качество заточки, проверенное нашими клиентами
                </div>
                <img src="{{ asset('bundles/binserinstrument/images/problems/1.png') }}" alt="Качество заточки, проверенное нашими клиентами">
                <div class="bottom_text">
                    <a href="#" class="link">проверить отзывы</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="top_text">
                    Современные методы<br>
                    и технологии
                </div>
                <img src="{{ asset('bundles/binserinstrument/images/problems/2.png') }}" alt="Современные методы и технологии">
                <div class="bottom_text">
                    <a href="#" class="link">подробнее</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="top_text">
                    Скорость и<br>
                    пунктуальность
                </div>
                <img src="{{ asset('bundles/binserinstrument/images/problems/3.png') }}" alt="Скорость и пунктуальность">
                <div class="bottom_text">
                    Мы заточили более<br>
                    45000 инструментов
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
                <div class="top_text">
                    Квалифицированные специалисты
                </div>
                <img src="{{ asset('bundles/binserinstrument/images/problems/4.png') }}" alt="Квалифицированные специалисты">
                <div class="bottom_text">
                    Более 3500<br>
                    постоянных клиентов
                </div>
            </div>
            <div class="col-sm-3">
                <div class="top_text">
                    Программа лояльности и<br>
                    гибкая система скидок
                </div>
                <img src="{{ asset('bundles/binserinstrument/images/problems/5.png') }}" alt="Программа лояльности и гибкая система скидок">
                <div class="bottom_text">
                    Каждый шестой<br>
                    инструмент точим<br>
                    БЕСПЛАТНО
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="trust_block">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 header_block">
                Нам доверяют
            </div>
        </div>
        <div class="slider single-item">

            <div class="slide"><img src="{{ asset('bundles/binserinstrument/images/trust/1.png') }}" alt="Логотип компании партнера"></div>
            <div class="slide"><img src="{{ asset('bundles/binserinstrument/images/trust/2.png') }}" alt="Логотип компании партнера"></div>
            <div class="slide"><img src="{{ asset('bundles/binserinstrument/images/trust/3.png') }}" alt="Логотип компании партнера"></div>
            <div class="slide"><img src="{{ asset('bundles/binserinstrument/images/trust/1.png') }}" alt="Логотип компании партнера"></div>
            <div class="slide"><img src="{{ asset('bundles/binserinstrument/images/trust/2.png') }}" alt="Логотип компании партнера"></div>
            <div class="slide"><img src="{{ asset('bundles/binserinstrument/images/trust/3.png') }}" alt="Логотип компании партнера"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/slick-carousel/slick/slick.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.slider').slick({
                dots: false,
                infinite: true,
                speed: 500,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 6000/*,
                prevArrow: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                nextArrow: '<i class="fa fa-angle-right" aria-hidden="true"></i>'*/
            });

            $(".switch").click(function () {
                $(this).text(function (i, text) {
                    return text === 'читать далее' ? 'скрыть текст' : 'читать далее';
                })
            });
        });
    </script>
{% endblock %}